body {
    background-image: url(https://i.redd.it/ccia9mh2m7k61.jpg);
}

.main__paragraph {
    text-align: center;
    font-size: 2rem;
    color: #CE6A85;
    font-family: monospace;
    font-style: italic;
    font-weight: 5rem;
}

.main__title {
    text-align: center;
    font-size: 4rem;
    color: #FF99C9;

}
.main__button {
    transform: translateX(45vw);
    margin: 45px;
    padding: 20px;
    border:3px solid salmon;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: aquamarine;
    cursor: pointer;
    background-color: transparent;

    
}
